/* Reset default margin for all div elements */
div {
    margin: 0;
    padding: 0;
}

/* Styling the blue banner */
.blue_banner {
    background-color: lightblue;
    background-image: url('/img/pattern.png');
    height: 100%
}

/* Styling for images with the 'img_control' class */
.img_control {
    width: 200px;
    margin: 50px 0;
    margin-left: 180px;
}

/* Adjust the left and right margin for the main content */
main {
    margin-right: 10%;
    margin-left: 10%;

}

/* Styling for article titles */
.title {
    margin-bottom: 10px; /* Add an appropriate value */
}

/* Styling for subtitles with a link */
.subtitle {
    margin-top: -10px;
    color: #7B7A78;
    font-weight: 100;
}

.link {
    color: #82A6E0;
}

/* Styling for dates */
.date {
    margin-top: -25px;
    color: #7B7A78;
    font-weight: 100
;
}

/* Styling for captions */
.caption1 {
    margin-top: -4px;
    font-weight: 100;
}

.caption2 {
    margin-top: -54px;
    font-weight: 100;
}

/* Styling for lists */
.list {
    text-align: left;
}

/* Styling for tables */
.table {
    border-collapse: collapse;
    width: 95%;
}

.table th, .table td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: cornflowerblue;
    color: white; /* Add text color to improve contrast */
}

.table tr:nth-child(even) {
    background-color: rgb(223, 240, 248);
}

/* Styling for the footer */
.footer {
    text-align: center;
    background-color: #323A6B;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:static ;
    
}









