/* Reset default margin for all div elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0; 
}

/* Styling the blue banner */
.blue_banner {
    background-color: lightblue;
    background-image: url('/img/pattern.png');
    height: 100%;
    width:110% ;
}

/* Styling for images with the 'img_control' class */
.img_control {
    width: 200px;
    margin: 50px 0;
    margin-left: 180px;

}

/* Adjust the left and right margin for the main content */
main {
    margin-right: 10%;
    margin-left: 10%;

}

/* Styling for article titles */
.title {
    margin-bottom: 10px; 
    margin-top: 10px;
}

/* Styling for subtitles with a link */
.subtitle {
    margin-top: -10px;
    color: #7B7A78;
    font-weight: 100;
}

.link {
    color: #82A6E0;
}

/* Styling for dates */
.date {
    margin-top: px;
    color: #7B7A78;
    font-weight: 100;
    margin-bottom: 20px
;
}

/* Styling for captions */
.caption1 {
    margin-top: -4px;
    font-weight: 100;
}

.caption2 {
    margin-top: -25px;
    font-weight: 100;
    margin-bottom: 25px;
}


/*Styling paragraph*/
.paragraph {
    margin-bottom: 30px;
    font-size: 18px;
}



/* Styling for lists */
.list {
    margin-bottom: 40px;
    font-size: 18px;
    margin-left: 20px;
}

/* Styling for tables */
.table, td, th {
    text-align: left;
    font-size: 18px;
    border: 3px solid white;
    padding: 3px;
    width: 10%;
}
  
.higlighted{
    background-color: rgba(255, 255, 0, 0.292);
}
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th {
    background-color: #80A5FD;
    height: 10px;
    
    
    
  }

  .table tr:nth-child(even) {
    background-color: rgb(223,240,248);
  }

/* Styling for the footer */
.footer {
    text-align: center;
    font-size: 18px;
    background-color: #323A6B;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:static ;
    
}









